@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        @apply bg-backgroundcolor text-xl  overflow-y-visible
    }
    h1, h2{
      @apply  font-bold text-2xl lg:text-3xl
    }
    h3, h4{
        @apply font-semibold text-lg lg:text-xl
    }
    input,select{
        @apply block w-full p-2 border border-overlay rounded-lg focus:border focus:border-primary 
    }
    label{
        @apply block my-2 font-normal 
    }
    .animated-links{
        @apply relative  cursor-pointer
      }
      .animated-links::before{
        @apply content-[''] absolute bottom-[-2px] h-1 w-0 bg-accent rounded-3xl transition-[width] duration-300 ease-in-out
      }
      .animated-links:hover::before{
       @apply w-full
      }
      input[type="submit"]{
        @apply cursor-pointer
      }
      *{
        scrollbar-width: thin;
     
      }
}

@layer components{
    .btn{

    box-shadow:0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

    }
    .btn:active {
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .btn:hover{
        box-shadow: 0 0 20px rgba(0,0,0,0.5); 
        filter: brightness(120%);

    }
    .container{
     @apply max-w-[80%] lg:max-w-[75%] mx-auto h-full my-5 
    }
}
@layer utilities{

.d-flex{
   @apply flex justify-center items-center 
}

.active-btn{
  @apply bg-primary text-backgroundcolor
}
.card-styles{
  @apply my-5 shadow-md p-6  rounded-md bg-kit 
}
.grid-height {@apply calc(100vh-10px)} ;


.scrollbar::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
.scrollbar::-webkit-scrollbar-track{
@apply bg-kit
}
.scrollbar::-webkit-scrollbar-thumb{
@apply bg-secondary h-5 rounded-3xl
}
.headingSkeleton{
  @apply h-3 rounded-full w-[40%] my-5
}
.textSkeleton{
  @apply h-3  rounded-full my-3
}
.linkSkeleton{
 @apply h-2  rounded-full my-3
}
.imageSkeleton{
  @apply rounded-lg w-72 lg:w-[80%]  h-32
}
.boxSkeleton{
  @apply rounded-lg   h-32
}
.profileSkeleton{
  @apply rounded-full w-52 h-52
}

}